@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #1A223E;
    color: white;
    height: 8vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: 0;
    z-index: 10; */
}

nav ul {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav ul a.homeNav {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
}

nav ul a.homeNav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #6CA5E9;
    transition: transform 0.25s ease-out;
    border-radius: 1rem;
}

nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom middle;
}
#diegoHidalgo {
    display: flex;
    margin-right: 20%;
    font-size: 2rem;
}

#diego {
    margin-right: .5rem;
}

#hidalgo {
    color: #6CA5E9;
}

#ContactMeButton {
    background-color: #6CA5E9;
    padding: .7rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
}
header.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 92vh;
    /* idk */
}
header.home article {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1424px;
}
#headerLeft{
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}
#headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
#headerRight img{
    height: 100%;
    border-radius: 50%;
}
#homeHeader{
    font-size: 7rem;
    color: #1A223E;
}
#hey {
    font-size: 2rem;
    color: #1A223E;
}
header.home a {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    background-color: #5C6FB4 ;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
main section>h2 {
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0;
}
main>section {
    width: 1424px;
    margin: auto;
    animation: slideToLeft ease;
    animation-timeline: view();
    animation-range: cover contain;
    /* change animation */
}
@keyframes slideToLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#myProjects {
    overflow: hidden;
}
#carousell {
    display: flex;
    width: 200%;
    justify-content: space-between;
}
article.blockOfCarousell {
    width: 540px;
    background-color: #1A223E;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    border-radius: 1rem;
    height: 580px;
    justify-content: space-between;
    align-items: flex-start;
}
article.blockOfCarousell h3{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #6CA5E9;
}
article.blockOfCarousell a {
    padding: 1rem 2rem;
    background-color: #5C6FB4;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}
article.blockOfCarousell img {
    width: 100%;
    object-fit: cover;
}
article.blockOfCarousell p {
    flex-grow: 1;
    margin-top: 1rem;
}
#skillsSocial {
    margin-top: 10rem;
    margin-bottom: 9rem;
    /* for pixel perfection needs to be 9rem */
    display: flex;
    flex-flow: row wrap;
}
#skill {
    width: 50%;
}
#skills {
    display: flex;
    flex-flow: wrap;
}
div.skillBlock {
    display: flex;
    height: 60px;
    padding: .5rem 2rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.75);
    /* remeber to change box shadow  */
    width: fit-content;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
div.skillBlock img{
    height: 80%;
    object-fit: cover;
    margin-right: 1rem;
}
div.skillBlock p{
    font-size: 1.5rem;
}
#social{
    width: 50%;
}
#socials {
    display: flex;
    flex-flow: wrap;
}
#social a {
    display: flex;
    height: 60px;
    padding: .5rem 2rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    background-color: #6CA5E9;
    box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.75);
    width: fit-content;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
#social img{
    height: 80%;
    object-fit: cover;
    margin-right: 1rem;
}
#mailArticle {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#mailArticle p {
    display: flex;
    height: 75px;
    padding: .5rem 5rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.75);
    width: fit-content;
    border-radius: 1rem;
    font-size: 1.5rem;
}
#mailArticle a {
    height: 75px;
    border: 1px black solid;
    background-color: #6CA5E9;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-left: min(2rem);
    justify-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.75);

}
#mailArticle a img {
    height: 70%;
    object-fit: cover;
}
#mailArticle #resumeContact {
    max-width: 30rem;
    flex-grow: 1;
    margin-left: 5rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #5C6FB4;
    justify-content: center;
    font-size: 1.3rem;
}
#mailSection {
    margin-bottom: 10rem;
}
div.empty {
    flex-grow: 10;

}
footer {
    background-color: black;
    height: 280px;
    display: flex;
    flex-flow: row wrap;
    color: white;
    padding: 3rem;
}
footer article{
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
}
#leftFooter {
    width: 70%;
    flex-flow: column nowrap;
    justify-content: space-between;
}
footer h2 {
    font-weight: 400;
    width: 100%;
}
footer a {
    width: 70px;
    margin-right: 1rem;
}
footer img {
    height: 50px;
}
footer hr {
    margin-top: 3rem;
    width: 100%;
    display: block;
    height: 1px;
}
footer>p{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
}

/* resume css */

#resume {
    height: 1100px;
    width: 850px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
#resume * {
    font-family: "Lato", sans-serif;
}
#resumeHeader {
    background-color: #79A5DF;
    padding: 4rem;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 3rem;
}
#resumeHeader img{
    position: absolute;
    right: 4rem;
    border-radius: 50%;
    top: 80px;
}
#resumeHeader h2{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 7px;
}
#resumeHeader p{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 7px;
}
#resumeMain {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 4rem;
}
.resumeLeft {
    width: 40%;
    padding: 1rem 1rem 1rem 0;
    border-right: 2px #464A4E solid;
}
/* fix padding since border */
.resumeRight {
    width: 60%;
    padding: 1rem 0 1rem 1rem;
}
#resumeMain h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 700;
}
#resumeSocial, #resumeProfile, #resumeSkills, #resumeExperience {
    border-bottom: 2px solid #464A4E;
}
#resumeMain p {
    margin-top: 1rem;
    /* letter-spacing: 1px; */
    /* font-weight: 400; */
    line-height: 1.6;
    color: #706F6F;

}
ul {list-style-position: inside;}


/* for home header for less size desktops */
@media screen and (max-width: 1624px) {
    header.home article {
        width: 1124px;
    }
    #homeHeader{
        font-size: 5.8rem;
        color: #1A223E;
    }

    main>section {
        width: 1124px;
    }

}
@media screen and (max-width: 1200px) {
    header.home article {
        width: 924px;
    }
    #homeHeader{
        font-size: 5.8rem;
    }

    main>section {
        width: 924px;
    }
    #mailArticle a {
        margin-left: 1rem;
    }
    nav ul a.homeNav{
        font-size: 1rem;
    }
    #diegoHidalgo{
        margin-right: 12%;
    }
    #homeHeader{
        font-size: 4rem;
    }
    #hey {
        font-size: 1.5rem;
    }
    div.empty {
        display: none;
    }
    #mailArticle #resumeContact {
        margin-left: 1rem;
    }
    article.blockOfCarousell {
        width: 450px;
    }
    #carousell {
        width: 250%;
    }
}