@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #1A223E;
    color: white;
    height: 8vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav ul a.homeNav {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
}

nav ul a.homeNav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #6CA5E9;
    transition: transform 0.25s ease-out;
    border-radius: 1rem;
}

nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom middle;
}
#diegoHidalgo {
    display: flex;
    margin-right: 20%;
    font-size: 2rem;
}

#diego {
    margin-right: .5rem;
}

#hidalgo {
    color: #6CA5E9;
}

#ContactMeButton {
    background-color: #6CA5E9;
    padding: .7rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
}
header.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 92vh;
    /* idk */
}
header.home article {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1424px;
}
#headerLeft{
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}
#headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
#headerRight img{
    height: 100%;
    border-radius: 50%;
}
#homeHeader{
    font-size: 7rem;
    color: #1A223E;
}
#hey {
    font-size: 2rem;
    color: #1A223E;
}
header.home a {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    background-color: #5C6FB4 ;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
h2 {
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0;
}
main>section {
    width: 1424px;
    margin: auto;
    animation: slideToLeft ease;
    animation-timeline: view();
    animation-range: cover contain;
    /* change animation */
}
@keyframes slideToLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

#carousell {
    display: flex;
    width: 200%;
    justify-content: space-between;
}
article.blockOfCarousell {
    width: 540px;
    background-color: #1A223E;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    border-radius: 1rem;
    height: 580px;
    justify-content: space-between;
    align-items: flex-start;
}
article.blockOfCarousell h3{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #6CA5E9;
}
article.blockOfCarousell a {
    padding: 1rem 2rem;
    background-color: #5C6FB4;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}
article.blockOfCarousell img {
    width: 100%;
    object-fit: cover;
}
article.blockOfCarousell p {
    flex-grow: 1;
    margin-top: 1rem;
}
#skillsSocial {
    margin-top: 10rem;
    margin-bottom: 9rem;
    /* for pixel perfection needs to be 9rem */
    display: flex;
    flex-flow: row wrap;
}
#skill {
    width: 50%;
}
#skills {
    display: flex;
    flex-flow: wrap;
}
div.skillBlock {
    display: flex;
    height: 60px;
    padding: .5rem 2rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    box-shadow: 0 0 4px black;
    width: fit-content;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
div.skillBlock img{
    height: 80%;
    object-fit: cover;
    margin-right: 1rem;
}
div.skillBlock p{
    font-size: 1.5rem;
}
#social{
    width: 50%;
}
#socials {
    display: flex;
    flex-flow: wrap;
}
#social a {
    display: flex;
    height: 60px;
    padding: .5rem 2rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    background-color: #6CA5E9;
    box-shadow: 0 0 4px black;
    width: fit-content;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
#social img{
    height: 80%;
    object-fit: cover;
    margin-right: 1rem;
}
#mailArticle {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#mailArticle p {
    display: flex;
    height: 75px;
    padding: .5rem 5rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    box-shadow: 0 0 4px black;
    width: fit-content;
    border-radius: 1rem;
    font-size: 1.5rem;
}
#mailArticle a {
    height: 75px;
    border: 1px black solid;
    background-color: #6CA5E9;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-left: min(2rem);
    justify-self: flex-start;

}
#mailArticle a img {
    height: 100%;
    object-fit: cover;
}
#mailArticle #resumeContact {
    max-width: 30rem;
    flex-grow: 1;
    margin-left: 5rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #5C6FB4;
    justify-content: center;
    font-size: 1.3rem;
}


/* for home header for less size desktops */
@media screen and (max-width: 1624px) {
    header.home article {
        width: 1124px;
    }
    #homeHeader{
        font-size: 5.8rem;
        color: #1A223E;
    }

    main>section {
        width: 1124px;
    }

}