@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #1A223E;
    color: white;
    height: 8vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: 0;
    z-index: 10; */
}

nav ul {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav ul a.homeNav {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
}

nav ul a.homeNav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #6CA5E9;
    transition: transform 0.25s ease-out;
    border-radius: 1rem;
}

nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom middle;
}

#diegoHidalgo {
    display: flex;
    margin-right: 20%;
    font-size: 2rem;
}

#diego {
    margin-right: .5rem;
}

#hidalgo {
    color: #6CA5E9;
}

#ContactMeButton {
    background-color: #6CA5E9;
    padding: .7rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
}

#ContactMeButton:hover {
    background-color: #3376c8;
}

.skillBlock {
    border: 1px solid;
    overflow: hidden;
    position: relative;

    span {
        z-index: 20;
    }

    &:after {
        background: #535353;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }
}

.skillBlock:hover {

    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

header.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 92vh;
    /* idk */
}

header.home article {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1424px;
}

#headerLeft {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}

#headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

#headerRight img {
    height: 100%;
    border-radius: 50%;
}

#homeHeader {
    font-size: 7rem;
    color: #1A223E;
}

#homeHeader::after {
    content: none;
}

#hey {
    font-size: 2rem;
    color: #1A223E;
}

header.home a {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    background-color: #5C6FB4;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: #5C6FB4 3px solid;
}

header.home a:hover {
    background-color: white;
    color: #5C6FB4;
    border: #5C6FB4 3px solid;
}

main section>h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2rem 0;
    width: 100%;
}

main>section,
#webPartner {
    width: 1424px;
    margin: auto;
    /* animation: slideToLeft ease;
    animation-timeline: view();
    animation-range: cover contain;  */
     /* change animation */
}

@keyframes slideToLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#myProjects {
    overflow: hidden;
}

#carousel {
    position: relative;
}

#carousel-inner {
    display: flex;
    gap: 200px;
    width: fit-content;
    justify-content: space-between;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    background-color: rgba(112, 112, 112, 0.175);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    rotate: 180deg;
}

#nextButton {
    right: 0;
    rotate: 0deg;
}

#prevButton img,
#nextButton img {
    height: 48px;
}

article.blockOfCarousell {
    width: 540px;
    background-color: #1A223E;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    border-radius: 1rem;
    height: 580px;
    justify-content: space-between;
    align-items: flex-start;
}

article.blockOfCarousell h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #6CA5E9;
}

article.blockOfCarousell a {
    padding: .8rem 2rem;
    background-color: #5C6FB4;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    border: #5C6FB4 3px solid;
}

article.blockOfCarousell a:hover {
    background-color: white;
    color: #5C6FB4;
    border: #5C6FB4 3px solid;

}

article.blockOfCarousell img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 17/9;
}

article.blockOfCarousell p {
    flex-grow: 1;
    margin-top: 1rem;
}

#skillsSocial {
    margin-top: 10rem;
    margin-bottom: 9rem;
    /* for pixel perfection needs to be 9rem */
    display: flex;
    flex-flow: row wrap;
}

#skill {
    width: 50%;
}

#skills {
    display: flex;
    flex-flow: wrap;
}

div.skillBlock {
    display: flex;
    height: 60px;
    padding: .5rem 2rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);
    /* remeber to change box shadow  */
    width: fit-content;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

div.skillBlock img {
    height: 80%;
    object-fit: cover;
    margin-right: 1rem;
}

div.skillBlock p {
    font-size: 1.5rem;
}

#social {
    width: 50%;
}

#socials {
    display: flex;
    flex-flow: wrap;
}

#social a {
    display: flex;
    height: 60px;
    padding: .5rem 2rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    background-color: #6CA5E9;
    box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);
    width: fit-content;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#social a:hover {
    background-color: #337fdc;
    border: #337fdc 2px solid;
}

#social img {
    height: 80%;
    object-fit: cover;
    margin-right: 1rem;
}

#mailArticle {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#mailArticle p {
    display: flex;
    height: 75px;
    padding: .5rem 5rem;
    align-items: center;
    border: #6CA5E9 2px solid;
    box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);
    width: fit-content;
    border-radius: 1rem;
    font-size: 1.5rem;
}

#mailArticle a {
    height: 75px;
    border: 1px black solid;
    background-color: #6CA5E9;
    border: #6CA5E9 2px solid;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-left: min(2rem);
    justify-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);

}

#mailArticle a:hover {
    background-color: #3d82d6;
    border: #3d82d6 2px solid;
}

#mailArticle a img {
    height: 70%;
    object-fit: cover;
}

#mailArticle #resumeContact {
    max-width: 30rem;
    flex-grow: 1;
    margin-left: 5rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #5C6FB4;
    border-color: #5C6FB4;
    justify-content: center;
    font-size: 1.3rem;
    border: #5C6FB4 3px solid;
}

#mailArticle #resumeContact:hover {
    background-color: white;
    color: #5C6FB4;
    border: #5C6FB4 3px solid;

}

#mailSection {
    margin-bottom: 10rem;
}

div.empty {
    flex-grow: 10;

}

footer {
    background-color: black;
    height: 280px;
    display: flex;
    flex-flow: row wrap;
    color: white;
    padding: 3rem;
}

footer article {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
}

#leftFooter {
    width: 70%;
    flex-flow: column nowrap;
    justify-content: space-between;
}

footer h2 {
    font-weight: 400;
    width: 100%;
}

footer a {
    width: 70px;
    margin-right: 1rem;
    margin-top: .5rem;
}

footer img {
    height: 50px;
}

footer img:hover {
    scale: 120%;
}

footer hr {
    margin-top: 3rem;
    width: 100%;
    display: block;
    height: 1px;
}

footer>p {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
}

#leftFooter p {
    margin-top: .5rem;
    margin-right: 2rem;
}

h1 {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1::after {
    content: "";
    display: block;
    width: 124px;
    height: 5px;
    background-color: #4875B4;
    border-radius: 1rem;
}



/* resume css */

#resume {
    height: calc(1100px*1.1);
    height: auto;
    width: calc(850px *1.1);
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    border: black 1px solid;
    padding: 2rem;
    margin-bottom: 4rem;
    margin-top: 2.5rem;
}

#resume * {
    font-family: "Lato", sans-serif;
}

#resumeHeader {
    background-color: #79A5DF;
    padding: 4rem;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 3rem;
}

#resumeHeader img {
    position: absolute;
    right: 4rem;
    border-radius: 50%;
    top: 80px;
}

#resumeHeader h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 7px;
}

#resumeHeader p {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 7px;
    margin-left: 3px;
}

#resumeMain {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 4rem;
}

#resumeMain img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.resumeLeft {
    width: 40%;
    border-right: 2px #464A4E solid;
}

.resumeRight {
    width: 60%;
}

#resumeMain h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 1rem;
    font-weight: 700;
}

#resumeMain h4 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: .25rem 0;
}

#resumeMain ul {
    margin: 1rem 0;
    color: #706F6F;
    list-style-position: inside;
}

#resumeSocial p {
    display: flex;
    align-items: center;
}

#resumeSocial,
#resumeProfile,
#resumeSkills,
#resumeExperience {
    border-bottom: 2px solid #464A4E;
}

article.resumeLeft .resumeBlock {
    padding: 1rem 2rem 1rem 0;
}

article.resumeRight .resumeBlock {
    padding: 1rem 0 1rem 2rem;
}

article.resumeBlock.resumeRight {
    padding: 1rem 0 1rem 2rem;
}

#resumeSocial {
    padding: 1rem 2rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#resumeMain p {
    /* letter-spacing: 1px; */
    /* font-weight: 400; */
    line-height: 1.6;
    color: #706F6F;

}

.circleIcon {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px #464A4E solid;
    position: absolute;
    background-color: white;
    right: -9px;
    bottom: -9px;
}

.topRight {
    top: -9px;
}

.topLeft {
    top: -9px;
    left: -9px;
}

#resumeSkills,
#resumeLearning {
    position: relative;
}

#seePDF {
    padding: 1rem 3rem;
    background-color: #5C6FB4;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    display: block;
    width: 300px;
    margin: 4rem auto;
    text-align: center;
    border: #5C6FB4 3px solid;
}

#seePDF:hover {
    background-color: white;
    color: #5C6FB4;
    border: #5C6FB4 3px solid;
}

/* about me css */

#whoAmI {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#whoAmIText {
    width: 50%;
}

#whoAmIImg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#whoAmIText p {
    margin-bottom: 2rem;
}

#whoAmIImg img {
    height: 100%;
    margin-left: 2rem;
}

#whoAmILinks {
    margin: 2rem auto;
    display: flex;
}

#whoAmILinks a {
    display: block;
    padding: 1rem 2rem;
    width: 330px;
    text-align: center;
    background-color: #5C6FB4;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}

#whoAmILinks a:nth-child(1) {
    margin-right: 1rem;
    background-color: #ffffff;
    color: #5C6FB4;
    border: #5C6FB4 2px solid;
}

#whoAmILinks a:hover {
    background-color: #ffffff;
    color: #5C6FB4;
    border: #5C6FB4 2px solid;
}

#whoAmILinks a:nth-child(1):hover {
    background-color: #5C6FB4;
    color: white;
}

#myHobbies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#myHobbies article {
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;
}

#myHobbies article img {
    width: 100px;
}

#myHobbies article h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: .5rem 0;
}

#myHobbies article p {
    width: 50%;
}

#whatIdo {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10rem;
}

.whatIdoBlock {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
}

.whatIdoBlock img {
    width: 100px;
}

.whatIdoBlock h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.whatIdoBlock p {
    color: #464A4E;
}

.blackFold {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

#webPartner h2 {
    padding: 2rem 0;
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

#Background {
    background: rgb(61, 91, 125);
    background: linear-gradient(90deg, rgba(61, 91, 125, 1) 0%, rgba(54, 84, 120, 1) 16%, rgba(34, 61, 94, 1) 40%, rgba(15, 40, 70, 1) 78%);
    display: flex;
    flex-flow: row wrap;
    border-radius: 1rem;
}

#webBlock {
    width: 100%;
    display: flex;

}

#blocks,
#webIdealWork {
    width: 50%;
    padding: 2rem;
    aspect-ratio: 1 / 1;
}

#blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.fourBloks {
    border-radius: 1rem;
    width: 48%;
    aspect-ratio: 1 / 1;
    background-color: black;
    border: white solid 1px;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#webIdealBlock {
    border-radius: 1rem;
    background-color: black;
    border: white solid 1px;
    height: 100%;
    padding: 2rem;
}

.bigText {
    font-size: 6rem;
    width: 100%;
    text-align: center;
}

.smallText {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

#webIdealWork h3 {
    margin-bottom: 2rem;
    font-size: 2.3rem;
    font-weight: 400;
}

#webIdealWork p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

#interestedInWork {
    background-color: black;
    border: white solid 1px;
    margin: auto;
    width: 100%;
    margin: 2rem;
    border-radius: 1rem;
}

#interestedInWork div {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#seeMyWork {
    width: 48%;
    background-color: white;
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(54, 84, 120, 1);
}

#seeMyWork:hover {
    background: rgb(61, 91, 125);
    background: linear-gradient(270deg, rgba(61, 91, 125, 1) 0%, rgba(54, 84, 120, 1) 16%, rgba(34, 61, 94, 1) 40%, rgba(15, 40, 70, 1) 78%);
    color: white;
}

#sendMeEmail {
    background: linear-gradient(270deg, rgba(61, 91, 125, 1) 0%, rgba(54, 84, 120, 1) 16%, rgba(34, 61, 94, 1) 40%, rgba(15, 40, 70, 1) 78%);
    width: 48%;
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

#sendMeEmail:hover {
    color: rgba(54, 84, 120, 1);
    background: white;

}

.blackFold::after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 6rem;
    background-color: rgb(113, 113, 113);
    z-index: 10;
}

body.contact {
    background-color: #ECECF2;
}

#contact {
    margin: 3rem auto;
    background-color: white;
    border-radius: .5rem;
}

#contact form {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

#contact label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#contact input,
textarea {
    background-color: #ECECF2;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
}

#contact textarea {
    height: 400px;
}

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact [type="submit"] {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.3rem;
    width: 200px;
    color: white;
    background-color: #5C6FB4;
    border-radius: 1rem;
    align-self: flex-end;

}

#result {
    margin-top: 2rem;
    text-align: end;
}

article.work {
    display: flex;
    margin-bottom: 6rem;
}

article.work>img,
article.work>video {
    width: 50%;
}

.rightWork {
    width: 50%;
    display: flex;
    flex-flow: column;
}

body.blackTheme {
    background-color: #1A223E;
    color: white;
}

body.blackTheme nav {
    background-color: white;
}

body.blackTheme nav a {
    color: black;
}

body.blackTheme #diego {
    color: black;
}

.rightWork {
    padding: 0 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.rightWork h3 {
    font-size: 3rem;
    color: #79A5DF;
    margin-bottom: 1rem;
}

.rightWork p {
    font-size: 1.4rem;
}

.linkWork {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.linkWork {
    display: flex;
}

.linkWork a {
    display: flex;
    align-items: center;
}

.linkWork a:nth-child(1) {
    width: 200px;
    height: 70px;
    background-color: #4875B4;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 45%;
}

.linkWork a:nth-child(1):hover {
    background-color: #334d72;
}

.linkWork a img {
    height: 70px;
}

.linkWork a img:hover {
    scale: 120%;
}

.writtenWork {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.writtenWork article {
    width: 45%;
}

.writtenWork h3 {
    font-size: 1.8rem;
    color: #79A5DF;
    height: 100px;
}

.writtenWork p {
    height: 130px;
    font-size: 1.3rem;
}

.writtenWork a {
    background-color: #4875B4;
    border-radius: 1rem;
    padding: .5rem 1rem;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.writtenWork a:hover {
    background-color: #334d72;
}

#workBlock {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#workBlock img,
#workBlock p,
#workBlock video {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

#workBlock div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

#workBlock div a {
    width: 200px;
    padding: .8rem 1rem;
    margin-right: 1rem;
    background-color: #4875B4;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

#workBlock div a:hover {
    background-color: #334d72;
}

#workBlock div a img {
    height: 32px;
    width: 32px;
    margin: 0;
    margin-right: 1rem;
}


/* add hovers for all buttons and things */

/* for home header for less size desktops */
@media screen and (max-width: 1624px) {
    header.home article {
        width: 1124px;
    }

    #homeHeader {
        font-size: 5.8rem;
        color: #1A223E;
    }

    main>section,
    #webPartner {
        width: 1124px;
    }

    .bigText {
        font-size: 5rem;
    }

    .smallText {
        font-size: 1.1rem;
    }

    #webIdealWork h3 {
        font-size: 1.8rem;
    }

    #webIdealWork p {
        font-size: 1rem;
    }

    #webPartner h2 {
        font-size: 2.5rem;
    }

    .rightWork p {
        font-size: 1.2rem;
    }

    .rightWork h3 {
        font-size: 2.4rem;
    }

    .linkWork a:nth-child(1) {
        margin-right: 30%;
        height: 50px;
        font-size: 1.3rem;
    }

    .linkWork a img {
        height: 50px;
    }

    .writtenWork h3 {
        font-size: 1.8rem;
        height: 100px;
    }

    .writtenWork p {
        height: 100px;
        font-size: 1rem;
    }

    #carousel-inner {
        gap: 60px;
    }
}

@media screen and (max-width: 1300px) {
    header.home article {
        width: 924px;
    }

    #homeHeader {
        font-size: 5.8rem;
    }

    main>section,
    #webPartner {
        width: 924px;
    }

    #mailArticle a {
        margin-left: 1rem;
    }

    nav ul a.homeNav {
        font-size: 1.1rem;
    }

    #diegoHidalgo {
        margin-right: 10%;
    }

    #homeHeader {
        font-size: 4rem;
    }

    #hey {
        font-size: 1.5rem;
    }

    div.empty {
        display: none;
    }

    #mailArticle #resumeContact {
        margin-left: 1rem;
        font-size: 1.1rem;
        padding: 0;
    }

    article.blockOfCarousell {
        width: 450px;
    }



    #ContactMeButton {
        padding: 0.5rem;
        font-size: 1.1rem;
    }

    .bigText {
        font-size: 3rem;
    }

    .smallText {
        font-size: 1rem;
    }

    #webIdealWork h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #webIdealWork p {
        font-size: .9rem;
        margin-bottom: 1rem;
    }

    #webPartner h2 {
        font-size: 2.5rem;
    }

    .fourBloks {
        padding: 1rem;
    }

    #interestedInWork div a {
        font-size: 1.3rem;
    }

    .rightWork p {
        font-size: .9rem;
    }

    .rightWork h3 {
        font-size: 2rem;
    }

    .linkWork a:nth-child(1) {
        margin-right: 15%;
    }

    .linkWork {
        margin-top: 1rem;
    }

    .writtenWork h3 {
        font-size: 1.6rem;
        height: 100px;
    }

    .writtenWork p {
        height: 100px;
        font-size: 1rem;
    }

    #whoAmI p {
        font-size: 1.07rem;
    }

    #whoAmIImg img {}

    #whoAmIText p {
        margin: 0;
    }

    #whoAmIText p:nth-child(1) {
        margin-bottom: 1rem;
    }

    #whoAmIText {
        width: 50%;
    }

    #whoAmIImg {
        width: 50%;
    }

    #whoAmI>p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    #homeHeader {
        font-size: 3.65rem;
        text-align: start;
        margin-top: 0;
    }

    main>section,
    #webPartner,
    header.home article {
        width: 700px;
    }

    header.home article {
        flex-flow: row wrap;
    }

    #header p {
        margin-top: 1rem;
    }

    header.home a {
        padding: 1rem 2rem;
    }

    nav ul {
        /* display: none; */
    }

    #skill,
    #social {
        width: 100%;
    }

    #skillsSocial {
        margin-bottom: 0;
    }

    #mailArticle {
        flex-flow: row wrap;
    }

    #mailArticle p {
        padding: .5rem 4rem;
    }

    #mailArticle #resumeContact {
        margin: auto;
        margin-top: 1.5rem;
        max-width: none;
        font-size: 1.4rem;
    }

    #myHobbies article p {
        width: 80%;
    }

    #whoAmIImg img {
        width: 100%;
        aspect-ratio: 4 /3;
    }

    #whoAmIImg {
        width: 45%;
    }

    #whoAmI p {
        font-size: 0.99rem;
    }
    #whoAmI>p,
    #whoAmIText p:nth-child(1) {
        margin: 0;
    }
    #whoAmI #margins {
        margin: 1rem 0;
    }
    #whoAmILinks a {
        width: 250px;
        font-size: 1.3rem;
    }
    .rightWork h3 {
        font-size: 1.8rem;
    }

    .linkWork a:nth-child(1){
        margin-right: 35%;
    }
    article.work>img, article.work>video{
        aspect-ratio: 17/9;
        object-fit: contain;
        width: 80%;
        margin: auto    ;
    }
    article.work {
        display: flex;
        flex-flow: column;
    }
    .rightWork {
        width: 80%;
        margin: auto;
        padding: 0;
    }
    .writtenWork article{
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    #contact form {
        padding: 3rem;
    }
    .bigText{
        font-size: 2rem;
    }
    #webIdealWork h3 {
        font-size: 1rem;
    }
    #webIdealWork p {
        font-size: .7rem;
    } 
    #webIdealBlock {
        padding: 1rem;
    }
    #blocks, #webIdealWork {
        padding: 1rem;
        width: 49%;
    }
    #interestedInWork{
        margin: 1rem;;
    }
    #webPartner h2 {
        font-size: 1.5rem;
    }
    #interestedInWork div {
        width: 80%;
    }
    #seeMyWork, #sendMeEmail{
        padding: .65rem 2rem;
    }
    #header #hey {
        margin: 0;
    }

}
@media screen and (max-width: 600px) {
    #homeHeader {
        font-size: 3.65rem;
        text-align: start;
        margin-top: 0;
    }

    main>section,
    #webPartner,
    header.home article {
        width: 340px;
    }
    nav ul {
        display: none;
    }
    #mailArticle p {
        padding: .5rem 2rem;
        font-size: 1.1rem;
    }
    #homeHeader {
        font-size: 2.5rem;
    }
    #headerRight img {
        height: 152px;
    }
    #header #hey {
        font-size: 1.3rem;
    }
    #header p {
        font-size: 0.8rem;
    }
    #headerRight{
        height: fit-content;
    }
    /* #headerLeft {
        width: 100%;
    } */
}
